.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
	width: 100%;
	font-family: 'Audiowide', cursive;
	height: 90vh;
	background: radial-gradient(rgb(253, 252, 252), rgb(250, 26, 26), rgb(8, 8, 8), rgb(158, 152, 152));
	background-size: 10% 10%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.card-title {
	text-shadow: 1px 1px 1px black;
	color: dodgerblue;
	background: transparent;
};

#chatWindowTitle {
	color: dodgerblue;
}

.btn-danger {
	background: rgb(185, 120, 120);
	border: solid red;
	text-shadow: 1px 1px 1px black;
}

.btn-danger:hover {
	background: rgb(185, 120, 120);
	border: solid yellow;
	color: yellow;
}

.btn-primary {
	background: rgb(157, 157, 236);
	border: solid dodgerblue;
	text-shadow: 1px 1px 1px black;
}

.btn-primary:hover {
	background: rgb(157, 157, 236);
	border: solid yellow;
	color: yellow;
}

.messages {
	margin-top: 10px;
	color: whitesmoke;
	max-height:200px;
	overflow:scroll;
	overflow-x:hidden;
	text-shadow: 1px 1px 1px black;
	text-align: center;
}

.privateMessages {
	margin-top: 10px;
	color: whitesmoke;
	max-height:200px;
	overflow:scroll;
	overflow-x:hidden;
	text-shadow: 1px 1px 1px black;
	text-align: center;
}

.card {
	background: rgba(51, 49, 49, 0.63);
	border: transparent solid;
	flex-direction: column;
}

.card-footer {
	border: transparent solid;
}

.card-header {
	font-family: 'Audiowide', cursive;
	text-align: left;
	background: rgba(10, 10, 10, 0.815);
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
}

.card-header:first-child {
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
}

#title {
	font-size: 40px;
	color: transparent;
	margin-top: 40px;
	font-family: 'Audiowide', cursive;
	text-shadow: 1px 1px 1px rgba(105, 117, 38, 0.842);
	background: url("https://steamuserimages-a.akamaihd.net/ugc/959724006840310669/DDDAED6BAC65D5C3C63A253923518FCB43C16D0D/"), url("https://i.gifer.com/9j0g.gif");
	background-blend-mode: screen;
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-fluid {
	width: 30px;
	background: black;
	border-radius: 10%;
	border: solid whitesmoke;
}

.users {
	max-height: 200px;
	overflow: scroll;
	overflow-x: hidden;
	color: whitesmoke;
	font-family: 'Audiowide', cursive;
	text-shadow: 1px 1px 1px black;
}

button:hover {
	cursor: pointer;
}

input {
	background: transparent;
	border-bottom: solid white;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	color: white;
}

h4, h5 {
	margin-top: 10px;
	font-family: 'Audiowide', cursive;
  color: dodgerblue;
	text-shadow: 1px 1px 1px black;
}

a {
	color: yellow;
	text-shadow: 1px 1px 1px red;
}

a:hover {
  color: yellow;
  text-shadow: 1px 1px 1px red;
}

#subTitle {
  color: dodgerblue;
}

hr {
  border-top: solid transparent;
}

#usernameInput,
#emailInput,
#passwordInput {
  /* background: transparent; */
  border-bottom: solid black;
  border-top: solid black;
  border-left: solid black;
  border-right: solid black;
}

#usernameInput:focus,
#emailInput:focus,
#passwordInput:focus {
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 1, 0.685);
}

#loginForm {
  background: transparent;
}

/* #root {
  background: url("https://dumielauxepices.net/sites/default/files/speech-bubble-clipart-quote-773675-3772328.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */
